h1 {
    color: #490E2E;
}

p {
    color: #CA388F;
}

.legend img {
    width: auto;
    height: 4rem;
}

.legend {
    text-decoration: none;
    color: #490e2e;
}

.margin-right {
    margin-right: 5%;
}

.nav-bar-options a {
    color: #490e2e;
}

.btn-primary-color {
    background-color: #dd57ae;
    color: #fcf3f9;
    border-color: #dd57ae;
}

.btn-selected-color {
    background-color: #A82670;
    color: #fcf3f9;
    border-color: #A82670;
}

.btn-selected-color:hover,
.btn-primary-color:hover {
    background-color: #c13d60;
    color: #fcf3f9;
    border-color: #c13d60;
}

#resumen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10%;
}

#main-info {
    padding-top: 90px;
    width: 100%;
    height: 100vh;
    display: flex;
}

#imagen-principal-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#imagen-principal-fondo {
    width: 70%;
    max-height: 70%;
    box-sizing: border-box;
    background-color: #F7D3ED;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15%;
}

#imagen-principal {
    padding: 40% 10% 40% 10%;
}

/* Carrusel */
#carrusel {
    background-color: #FCF3F9;
}

.custom-carousel-control {
    width: 5%;
}

.carousel-control-prev {
    left: 30px;
}

.carousel-control-next {
    right: 30px;
}

/* Reseñas */
.resenas {
    padding: 40px 40px 80px 40px;
    text-align: center;
}

.resenas .carousel {
    max-width: 800px;
    margin: 0 auto;
    /* Centro horizontal */
}

.resenas .carousel .carousel-item {
    height: 500px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resena-imagen {
    height: 200px;
    width: 200px;
    margin: 10px 10px 20px 10px;
}

.resena-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
}

.resena-info {
    font-weight: bold;
    text-align: center;
}

.resena-info p {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .carousel-control-prev {
        left: 5px;
    }

    .carousel-control-next {
        right: 5px;
    }

    #imagen-principal {
        padding: 25% 8% 25% 8%;
    }
}